<a href="https://colab.research.google.com/github/cantaruttim/Learning_Python/blob/main/Regras_de_Associa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Algoritmo apriori

In [2]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=4512a6f2cb4161a43798904473f9186c592fddf3ed7baa3765faf9d60f6cee55
  Stored in directory: /root/.cache/pip/wheels/1b/02/6c/a45230be8603bd95c0a51cd2b289aefdd860c1a100eab73661
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [3]:
import pandas as pd
from apyori import apriori

In [4]:
base_mercado1 = pd.read_csv('mercado.csv', header = None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [5]:
base_mercado1.shape

(10, 4)

In [6]:
transacoes = []
for i in range(len(base_mercado1)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base_mercado1.values[i, j]) for j in range(base_mercado1.shape[1])])

In [7]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [8]:
type(transacoes) # a biblioteca apyori necessita que os dados estejam em formato de lista

list

In [9]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8, min_lift = 2)
resultados = list(regras)

In [10]:
resultados

[RelationRecord(items=frozenset({'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [11]:
len(resultados)

3

In [12]:
resultados[2]

RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [13]:
resultados[2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [14]:
resultados[2][1]

0.3

In [15]:
r = resultados[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [16]:
r[2]

OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)

In [17]:
r[2][0]

frozenset({'cafe', 'pao'})

In [24]:
A = [] # Se da regra
B = [] # ENTÃO da regra

suporte = []
confianca = []
lift = []

for resultado in resultados:
  #print(resultados)

  s = resultado[1] # resultado do suporte 
  # print(s)

  result_rules = resultado[2]
  # print(result_rules)

  for result_rule in result_rules:
    # print(result_rule)

    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2] # confianca
    l = result_rule[3]

    print(a, '-', b, '-', c, '-', l)

    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

['cafe'] - ['manteiga'] - 1.0 - 2.0
['cafe'] - ['pao'] - 1.0 - 2.0
['cafe'] - ['pao', 'manteiga'] - 1.0 - 2.5
['cafe', 'manteiga'] - ['pao'] - 1.0 - 2.0
['cafe', 'pao'] - ['manteiga'] - 1.0 - 2.0

In [25]:
A

[['cafe'], ['cafe'], ['cafe'], ['cafe', 'manteiga'], ['cafe', 'pao']]

In [26]:
B

[['manteiga'], ['pao'], ['pao', 'manteiga'], ['pao'], ['manteiga']]

In [31]:
suporte

[0.3, 0.3, 0.3, 0.3, 0.3]

In [32]:
confianca

[1.0, 1.0, 1.0, 1.0, 1.0]

In [33]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

In [34]:
rules_df = pd.DataFrame({'A': A, 
                         'B': B,
                         'Suporte': suporte,
                         'Confiança': confianca,
                         'Lift': lift})

In [36]:
rules_df.sort_values(by = 'Lift', ascending = False)

                  A                B  Suporte  Confiança  Lift
2            [cafe]  [pao, manteiga]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [cafe, manteiga]            [pao]      0.3        1.0   2.0
4       [cafe, pao]       [manteiga]      0.3        1.0   2.0

### ECLAT
#### gera apenas itensets (_não_ gera regras!)

In [37]:
!pip install pyECLAT

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from pyECLAT) (1.3.5)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.8/dist-packages (from pyECLAT) (1.21.6)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.8/dist-packages (from pyECLAT) (4.64.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->pyECLAT) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [38]:
base_mercado1 = pd.read_csv('mercado.csv', header=None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [39]:
from pyECLAT import ECLAT

eclat = ECLAT(data = base_mercado1)

In [40]:
eclat.df_bin

   cafe  pao  manteiga  arroz  feijao  leite  cerveja
0     0    1         1      0       0      1        1
1     1    1         1      0       0      0        0
2     1    1         1      0       0      0        0
3     1    1         1      0       0      1        0
4     0    0         0      0       0      0        1
5     0    0         1      0       0      0        0
6     0    1         0      0       0      0        0
7     0    0         0      0       1      0        0
8     0    0         0      1       1      0        0
9     0    0         0      1       0      0        0

In [42]:
indices, suporte = eclat.fit(min_support=0.3, min_combination =1, max_combination=3)

Combination 1 by 1

3it [00:00, 80.54it/s]

Combination 2 by 2

3it [00:00, 53.80it/s]

Combination 3 by 3

1it [00:00, 62.99it/s]

In [43]:
indices

{'cafe': [1, 2, 3],
 'pao': [0, 1, 2, 3, 6],
 'manteiga': [0, 1, 2, 3, 5],
 'cafe & pao': [1, 2, 3],
 'cafe & manteiga': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3],
 'cafe & pao & manteiga': [1, 2, 3]}

In [44]:
suporte

{'cafe': 0.3,
 'pao': 0.5,
 'manteiga': 0.5,
 'cafe & pao': 0.3,
 'cafe & manteiga': 0.3,
 'pao & manteiga': 0.4,
 'cafe & pao & manteiga': 0.3}