<a href="https://colab.research.google.com/github/cantaruttim/Learning_Python/blob/main/TDatas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
def split_date(dataset):

  """
  Função responsável por separar data e hora e posteriormenete criando duas colunas
  ['Date'] e ['Hour'] que vai receber respectivamente o valor de índice 0 e 1

  Exemplo:
                                    0            1
  26/07/2022 07:09:05   >>>   '26/07/2022', '07:09:05'
  dataset['Date'] = 26/07/2022
  dataset['Hour'] = 07:09:05

  """

  ## Identify the data DD/MM/YYYY
  def get_date(date):
    return date.split(' ')[0]

  ## Identify the Hour hh:mm:ss
  def get_hour(date):
    return date.split(' ')[1]

  # Extraindo a data e a hora da coluna order_date

  dataset['Date'] = dataset['FECHA_APLICACION'].apply(lambda x:  f"{get_date(x)}")
  dataset['Hour'] = dataset['FECHA_APLICACION'].apply(lambda x: f"{get_hour(x)}")

  return dataset

# split_date(pd.read_csv("datas3.csv"))

In [41]:
help(split_date)

Help on function split_date in module __main__:

split_date(dataset)
    Função responsável por separar data e hora e posteriormenete criando duas colunas
    ['Date'] e ['Hour'] que vai receber respectivamente o valor de índice 0 e 1

    Exemplo:
                                      0            1
    26/07/2022 07:09:05   >>>   '26/07/2022', '07:09:05'
    dataset['Date'] = 26/07/2022
    dataset['Hour'] = 07:09:05

In [35]:
def concatena_data(dataset):

  dataset['Completa'] = dataset['FECHA_DISPENSACION'] + " " + dataset['Hora Inteira']
  dataset.to_csv("dataset.csv")
  return dataset

# concatena_data(pd.read_csv("datas.csv", sep="\t"))

       FECHA_DISPENSACION Hora Inteira               Completa
0              07/07/2022   10:29:00.0  07/07/2022 10:29:00.0
1              06/07/2022   02:48:00.0  06/07/2022 02:48:00.0
2              03/07/2022   19:40:00.0  03/07/2022 19:40:00.0
3              03/07/2022   13:29:00.0  03/07/2022 13:29:00.0
4              03/07/2022   01:17:00.0  03/07/2022 01:17:00.0
...                   ...          ...                    ...
276974         06/06/2022   00:50:00.0  06/06/2022 00:50:00.0
276975         06/06/2022   12:50:00.0  06/06/2022 12:50:00.0
276976         11/06/2022   06:50:00.0  11/06/2022 06:50:00.0
276977         11/06/2022   18:50:00.0  11/06/2022 18:50:00.0
276978         16/06/2022   06:50:00.0  16/06/2022 06:50:00.0

[276979 rows x 3 columns]

In [ ]:
# datas3['FECHA_APLICACION'] = pd.Series(datas3['FECHA_APLICACION'], dtype='datetime64[ns]')
# datas3['Date'] = pd.Series(datas3['Date'], dtype='datetime64[ns]')
# # datas['Hour'] = pd.Series(datas['Hour'], dtype='datetime64[ns]')

In [ ]:
# datas3.to_csv("datas_tratadas3.csv")