<a href="https://colab.research.google.com/github/cantaruttim/Learning_Python/blob/main/testes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
d = {'col1':['valor col 1.1', 'valor col 1.2', 'valor col 1.3', 'valor col 1.4'],
     'col2':['valor col 2.1', 'valor col 2.2', 'valor col 2.3', 'valor col 2.4']}

In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.DataFrame(d)

In [11]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df

            col1           col2
0  valor col 1.1  valor col 2.1
1  valor col 1.2  valor col 2.2
2  valor col 1.3  valor col 2.3
3  valor col 1.4  valor col 2.4

In [57]:
for i in df:
  for j in df: 
    conteudo = df.iloc[0:3].values
df_novo = pd.DataFrame(conteudo)

In [58]:
type(conteudo)

numpy.ndarray

In [59]:
display(df_novo)

               0              1
0  valor col 1.1  valor col 2.1
1  valor col 1.2  valor col 2.2
2  valor col 1.3  valor col 2.3