<a href="https://colab.research.google.com/github/cantaruttim/Learning_Python/blob/main/Treinamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variáveis

In [11]:
a = 12

print(a)
print('O tipo da variável é :', type(a))

12
O tipo da variável é : <class 'int'>

In [10]:
lista = [30, 34, 22, 25, 50, 55, 35, 3, 10, 5]

print(lista)
print('O tipo da lista é :', type(lista))

[30, 34, 22, 25, 50, 55, 35, 3, 10, 5]
O tipo da lista é : <class 'list'>

In [13]:
# encontrando o comprimento da lista
print('O comprimento da lista é:', len(lista), 'unidade')

O comprimento da lista é: 10 unidade

In [22]:
# Podemos adicionar um valor na lista

lista.append(1)
print(lista)

# Podemos tirar um valor da lista

lista.pop()

[30, 34, 22, 25, 50, 55, 35, 3, 10, 5, 1, 1, 1]

1

In [23]:
print(lista)

[30, 34, 22, 25, 50, 55, 35, 3, 10, 5, 1, 1]

In [18]:
tupla = (10, 12, 11, 5)

print(tupla)
print('A classe da tupla é :', type(tupla))

(10, 12, 11, 5)
A classe da tupla é : <class 'tuple'>

In [34]:
# Tuplas são imutáveis

tupla.append(1)

AttributeError: ignored

In [31]:
strings = 'Hello World'
string = 'Estou aprendendo Python e é Mágico'

print(strings)

strings.split()
string.split()

Hello World

['Estou', 'aprendendo', 'Python', 'e', 'é', 'Mágico']

In [27]:
[i for i in strings]

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [29]:
for i in strings:
  strings.split()

strings

'Hello World'

In [32]:
dicionarios = {'Nome':['Matheus', 'Lida', 'Naomí'],
               'Cargo': ['Inter', 'Analista', 'Analista']}

dicionarios

{'Nome': ['Matheus', 'Lida', 'Naomí'],
 'Cargo': ['Inter', 'Analista', 'Analista']}

In [33]:
import pandas as pd

# Podemos converter um dicionário em Tabela por meio da Biblioteca Pandas do Python
pd.DataFrame(dicionarios)

      Nome     Cargo
0  Matheus     Inter
1     Lida  Analista
2    Naomí  Analista