<a href="https://colab.research.google.com/github/cantaruttim/Learning_Python/blob/main/Treinamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variáveis

In [1]:
a = 12

print(a)
print('O tipo da variável é :', type(a))

12
O tipo da variável é : <class 'int'>

In [2]:
lista = [30, 34, 22, 25, 50, 55, 35, 3, 10, 5]

print(lista)
print('O tipo da lista é :', type(lista))

[30, 34, 22, 25, 50, 55, 35, 3, 10, 5]
O tipo da lista é : <class 'list'>

In [3]:
# encontrando o comprimento da lista
print('O comprimento da lista é:', len(lista), 'unidade')

O comprimento da lista é: 10 unidade

In [4]:
# Podemos adicionar um valor na lista

lista.append(1)
print(lista)

# Podemos tirar um valor da lista

lista.pop()

[30, 34, 22, 25, 50, 55, 35, 3, 10, 5, 1]

1

In [5]:
print(lista)

[30, 34, 22, 25, 50, 55, 35, 3, 10, 5]

In [6]:
tupla = (10, 12, 11, 5)

print(tupla)
print('A classe da tupla é :', type(tupla))

(10, 12, 11, 5)
A classe da tupla é : <class 'tuple'>

In [7]:
# Tuplas são imutáveis

tupla.append(1)

AttributeError: ignored

In [8]:
strings = 'Hello World'
string = 'Estou aprendendo Python e é Mágico'

print(strings)

strings.split()
string.split()

Hello World

['Estou', 'aprendendo', 'Python', 'e', 'é', 'Mágico']

In [9]:
[i for i in strings]

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [10]:
for i in strings:
  strings.split()

strings

'Hello World'

In [11]:
dicionarios = {'Nome':['Matheus', 'Lida', 'Naomí'],
               'Cargo': ['Inter', 'Analista', 'Analista']}

dicionarios

{'Nome': ['Matheus', 'Lida', 'Naomí'],
 'Cargo': ['Inter', 'Analista', 'Analista']}

In [12]:
import pandas as pd

# Podemos converter um dicionário em Tabela por meio da Biblioteca Pandas do Python
pd.DataFrame(dicionarios)

      Nome     Cargo
0  Matheus     Inter
1     Lida  Analista
2    Naomí  Analista

## Estruturas de Repetição

### Loop For

In [13]:
for i in range(0, 10): # 0 : Start, 10: Stop (com o último valor excludente)
  print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
# Podemos utilizar de passos
lista_loop = []
for i in range(0, 10, 2):
  print(i)
  print(f'O valor {i} gerado dentro desse loop foi adicionado a lista_loop', lista_loop.append(i)) # variável local (Escopo 1)

print('\n')
print('Aqui mostramos o tamanho da nova lista gerada por loop for', len(lista_loop))

0
O valor 0 gerado dentro desse loop foi adicionado a lista_loop None
2
O valor 2 gerado dentro desse loop foi adicionado a lista_loop None
4
O valor 4 gerado dentro desse loop foi adicionado a lista_loop None
6
O valor 6 gerado dentro desse loop foi adicionado a lista_loop None
8
O valor 8 gerado dentro desse loop foi adicionado a lista_loop None


Aqui mostramos o tamanho da nova lista gerada por loop for 5

In [26]:
lista_loop

[0, 2, 4, 6, 8]

### Loop While

In [ ]:
while i in range(0,10):
  print(i)

In [31]:
j = 0 # variável global (escopo 2)
while j in range(0,10):
  print(j)

  j += 1

0
1
2
3
4
5
6
7
8
9